{% extends 'Home.html' %}

{% block styles %}
    {{ super() }}
    {% include 'main_page/main_page_links.html' %}
{% endblock styles %}

{% block content %}
<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2 background-overlay">
        {% include 'main_page/left_section.html' %}
        {% include 'main_page/right_section.html' %}
    </div>
</div>
{% endblock content %}
{% block scripts %}
    {{ super() }}
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>

{#background color change#}
{% include 'filter_button_color_toggle.html' %}
{#mapbox generate map#}
{% include "main_map_script.html" %}
{% endblock scripts %}

