<section class="left-section col col-md-7 px-0 position-relative">
    <div class="d-flex justify-content-center main-header align-items-end">
        {% include 'logo.html' %}
    <p class="introduction p-4">This service pinpoints some coffee shops that allow remote working. Please feel to request a modification.</p>
    </div>

    <div class="social-media-group d-flex justify-content-end me-5">
        <a class="mx-2">
            <i class="fab fa-facebook"></i>
        </a>
        <a class="mx-2">
            <i class="fab fa-twitter"></i>
        </a>
        <a class="mx-2">
            <i class="fab fa-github"></i>
        </a>

    </div>
    <section class="coffee-params mt-0 mt-md-5 mx-md-5 mx-2 px-md-5 px-2">
        {% include 'main_page/coffee_carousel.html' %}
    </section>
</section>