<section class="left-section col col-md-7 mt-3 px-0 position-relative">
    {% include 'logo.html' %}
    <p class="introduction mt-4 mx-3">Welcome to MauNi's Cafe locator, this service allows you to find coffee shops near your
        location while
        also providing useful insights about the store, if you think we missed something please leave us a message,
        we personally respond to you even if it's just to say hi</p>
    <div class="social-media-group d-flex mt-3 justify-content-end">
        <a class="mx-2">
            <i class="fab fa-facebook"></i>
        </a>
        <a class="mx-2">
            <i class="fab fa-twitter"></i>
        </a>
        <a class="mx-2">
            <i class="fab fa-github"></i>
        </a>

    </div>
    <section class="coffee-params mt-0 mt-md-5 mx-0">
        {% include 'main_page/coffee_carousel.html' %}
    </section>
</section>