/*logo*/
/*card*/
/*card image*/
.card img{
    width: 100%;
    height: 12vh;
    object-fit: cover;
}

@media (max-width: 576px){
    .card img{
        height: 20vh;
    }

}
/*coffee list country header*/
div.coffee-list-container div h3{
    font-family: Poppins, serif;
}

div.city-container{
    background-color: rgba(75,31,14,0.8);
    border-radius: 10px;
}
/*coffee list*/
.coffee-list{
    max-height:60vh;
    overflow: auto;
}
.coffee-card{
    background-color: #794028;
    color: white;
}
a{
    text-decoration: none;
}

/*filter container*/
/*div.filter-container{*/
/*    background-color: #794028;*/
/*    border-radius: 15px;*/
/*}*/

div.params-icons {
    background-color: #794028;
    color: #BE7656;
    min-width: clamp(50px, 4vh, 100px);
    min-height: clamp(50px, 4vh, 100px);
    border-radius: 50px;

}
a.coffee-filter-icons{
    background-color: #4B1F0E;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
a.coffee-filter-icons.pressed{
    background-color: #EFC3A4;
}

a.coffee-filter-icons i.fas {
    color: #BE7656;
    font-size: 1.4em;
}
a.coffee-filter-icons i.fas:hover{
    color: #EFC3A4;
}

/*coffee facts*/
div.coffee-facts-container{
    width: 100%;
    height: 60vh;
    background-color: #794028;
    border-radius: 10px;
}
div.cupacoffee{
    background-image: url("/static/images/coffee-png-transparent-4.png");
    width: clamp(80px, 5vw, 200px);
    height: clamp(80px, 5vw, 200px);
    background-size: cover;
}



/*scalable facts text*/

.coffee_fact_header{
    font-size: clamp(0.2em, 1rem + 0.5vw,3em );
    color: #BE7656;
}
.coffee_fact_content{
    font-size: clamp(0.1em, 0.5rem + 0.5vw, 1.8em);
    color: #EFC3A4;
}
/*map section*/
div.map-locator{
    height: 100%;
    width: 100%;
}

div#map {
    width:100%;
    height: 100%;
    border-radius: 15px;
}

.marker {
    background-image: url('/static/images/mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.mapboxgl-popup-content img {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 150px;
}

/*end map section*/
